
<div class="bg-community">
<div class="auth-center">
<h2>Join our community!</h2>

<a href="/login">Login</a>

<a href="/signup">Sign up</a>

<a class="backBtn" href="/">Back to homepage</a>
</div>
</div>