


{{!-- <img src="{{location.game_indices.0.generation.url}}" alt="" srcset=""> --}}

{{!-- <a href="{{game_indices.0.generation.url}}">This</a> --}}

<ul>
    {{#each pokemon_entries}}

    <li>{{pokemon_species.name}}</li>

    {{/each}}
</ul>