
<div class="pokepedia">
<h1>Pokepedia</h1>

<h2>Search through our encyclopedia</h2>

<a href="/pokepedia">Let's go</a>

</div>

<div class="community">
<h1>Pokecommunity</h1>

<h2>Join the community to create your own pokemon or check other people’s creations!</h2>

<a href="/auth">Join</a>

</div>