<h1>{{title}}</h1>
<p>I want to catch them all!</p>

<form action="/search" method="GET">

    <label>Name of the pokemon</label>
    <input type="text" name="namePokemon">
    <button type="submit">Search</button>

</form>