<div class="index-container">

    <div> 
        <div class="home-wrapper">
            <div class="text-container">
                <h1>Pokepedia</h1>

                <h4>Search through our encyclopedia of Pokemons</h4>
            </div>

            <a class="mainBtn" href="/pokepedia">Let's go</a>
        </div>

    </div>

    <div>
        <div class="home-wrapper">

            <div class="text-container">
                <h1>Pokecommunity</h1>

                <h4>Join the community to create your own pokemon or check other people’s creations!</h4>
            </div>

            <a class="mainBtn" href="/auth">Join</a>
        </div>

    </div>
</div>