<div class="index-container">

    <div class="search-container">

<h1>Pokedex</h1>
<h2>We could not find that page for you
</h2>

<a class="yellowbtn" href="/pokepedia">Search again</a>
    </div>
</div>