
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap');

* {
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  margin-bottom: 0;
}
/* NAV */

nav {
  height: 12vh;
}

nav a, nav li, nav h2, .nav-item button {
  color: rgb(236, 236, 236);
}

.nav-item a {
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.nav-item a:hover {
  color: rgb(236, 236, 236);
}

.btn-shade {
  background-color: rgb(233, 95, 65);
  padding: 10px 40px;
  border-radius: 30px;
  
}

.navbar-nav {
  width: 80vw;
  margin: 0 auto;
  gap: 15%;
  align-items: center;
}

/* HOME */

.home-wrapper {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.index-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.index-container > div {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-container > div:first-child {
  background:linear-gradient(0deg, rgba(233, 95, 65, 0.85),rgba(233, 95, 65, 0.85)), url(../images/arcanine.png);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center center;
  color: rgb(236, 236, 236);
}

.index-container > div:nth-child(2), .bg-community {
  background:linear-gradient(0deg, rgba(236, 192, 78, 0.9),rgba(236, 192, 78, 0.85)), url(../images/luxray.png);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center center;
}

/* AUTHENTICATION */

.bg-community {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-center {
  width: 30%;
  height: 55vh;
  padding: 20px 0;
  background-color: #212529;
  color: rgb(236, 236, 236);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.auth-center form {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.auth-center input {
  width: 120%;
  padding: 0 30px;
  height: 50px;
}

.auth-center > a {
  background-color: rgb(236, 236, 236);
  width: 50%;
  padding: 10px 0;
  color: #212529;
  text-align: center;
  text-decoration: none;
}

.auth-center form button {
  color: rgb(236, 236, 236);
  background-color: #21252900;
}

a.backBtn {
  background-color: rgba(236, 236, 236, 0);
  color: rgb(236, 236, 236);
}

a {
  color: #00b7ff;
}

.mainBtn {
  margin-top: 20%;
  padding: 10px 50px;
  background-color: #212529;
  color: rgb(236, 236, 236);  
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  color: rgb(233, 95, 65);
}

h1 {
  color: 15px;
}

.capitalize {
  text-transform: capitalize;
}

.type-img {
    width: 40px;
    height: 40px;
}

/* COMMUNITY FEED */

