<div class="index-container">

    <div> 
        <div class="home-wrapper">
            <div class="text-container">

<h2>{{title}}</h2>
<br/>
<p>I want to catch them all!</p>
<br/>




<form action="/search" method="POST">

<select name="searchType">
    <option value="pokemon">Pokemon</option>
    <option value="region">Region</option>
    <option value="type">Type</option>
</select>


    <button type="submit">Search</button>
</form>

<br/>

</div>
    </div>
        </div>
