<h1>{{title}}</h1>
<p>I want to catch them all!</p>

<form action="/search-pokemon" method="GET">

    <label>Name of the pokemon</label>
    <input type="text" name="namePokemon">
    <button type="submit">Search</button>

</form>

<br>

<form action="/search-region" method="GET">

    <label>Search for a region</label>
    <input type="text" name="regionName">
    <button type="submit">Search</button>

</form>