<div class="index-container">

    <div> 
        <div class="home-wrapper">
            <div class="text-container">

<h2>{{title}}</h2>
<br/>
<p>I want to catch them all!</p>
<br/>
<form action="/search-pokemon" method="GET">

    <label>Name of the pokemon</label>
    <input type="text" name="namePokemon">
    <button type="submit">Search</button>

</form>

<br/>

<form action="/search-region" method="GET">

    <label>Search for a region</label>
    <input type="text" name="regionName">
    <button type="submit">Search</button>

</form>

<br/>
<form action="/search-types" method="GET">

    <label>Search for a types</label>
    <input type="text" name="typeName">
    <button type="submit">Search</button>

</form>

</div>
    </div>
        </div>