
<div class="bg-pokemon">

    <div class="search-list">
       
       <h1>Areas in {{name}}</h1>

        <ul class="region-list">
            
        {{#each areas}}
        <li>

            <a href="/areas/{{name}}">{{name}}</a>

        </li>
        {{/each}}
        </ul>
    </div>

</div>