<div class="bg-pokemon">

        <div class="search-list">
                <h1>Pokemons that can learn <span class="capitalize">{{name}}</span></h1>
                <ul class="region-list">
                        {{#each learned_by_pokemon}}
                        <li>
                                <a href="/search-pokemon?namePokemon={{name}}">{{name}}</a>
                        </li>
                        {{/each}}
                </ul>
        </div>

</div>