
<ul class="region-list">
    {{#each pokemon_entries}}
    <li class="region-list mainBtn">
        
        <a href="/search-pokemon?namePokemon={{pokemon_species.name}}">{{pokemon_species.name}}</a>
        
    </li>
    {{/each}}
</ul>