


{{!-- <img src="{{location.game_indices.0.generation.url}}" alt="" srcset=""> --}}

{{!-- <a href="{{game_indices.0.generation.url}}">This</a> --}}

<ul>
    {{#each pokemon_entries}}

    <li>
        <p>{{pokemon_species.name}}</p>
        {{!-- {{#eq pokemon_species.name ../pokemon.name}} --}}
        <a href=""></a>
        {{!-- {{/eq}} --}}
        </li>


    {{/each}}
</ul>