<div class="bg-pokemon">

    
    <h1>Pokemons found in <span class="capitalize">{{name}}</span></h1>
<ul class="region-list">
    {{#each pokemon_entries}}
    <li class="region-list">
        
        <a href="/search-pokemon?namePokemon={{pokemon_species.name}}">{{pokemon_species.name}}</a>
        
    </li>
    {{/each}}
</ul>

</div>