<div class="bg-pokemon">

    <h1>Pokemons found in <span class="capitalize">{{name}}</span></h1>
<ul>
    {{#each pokemon_entries}}
    <li>
        
        <a class="mainBtn" href="/search-pokemon?namePokemon={{pokemon_species.name}}">{{pokemon_species.name}}</a>
        
    </li>
    {{/each}}
</ul>
</div>