<div class="index-container">
            <div class="search-container">

<h2>Search By</h2>

<br/>

<form action="/search-types" method="GET">

    <label>Type</label>
    <input type="text" name="typeName">
    <button type="submit">Search</button>

</form>
    </div>
        </div>