<br/>
<br/>
<br/>
<br/>
<br/>
<h1>test3</h1>

<form action="/search" method="POST">

    <label>Name of the Type</label>
    <input type="text" name="search">
    <button type="submit">Search</button>

</form>
