<div class="index-container">
            <div class="search-container">

<h2>Search By</h2>

<br/>

<form action="/search-pokemon" method="GET">

    <label>Pokemon</label>
    <input type="text" name="namePokemon">
    <button type="submit">Search</button>

</form>
    </div>
        </div>