<div class="index-container">
            <div class="search-container">

<h2>Search</h2>

<br/>

<form action="/search-region" method="POST">

<select name="regionName">
    <option value="kanto">Kanto</option>
    <option value="johto">Johto</option>
    <option value="hoenn">Hoenn</option>
    <option value="unova">Unova</option>
    <option value="alola">Alola</option>
    <option value="galar">Galar</option>
</select>


    <button class="mainBtn" type="submit">Search</button>
</form>
    </div>
        </div>