<br/>
<br/>
<br/>
<br/>
<br/>
<h1>test1</h1>

<form action="/search-pokemon" method="GET">

    <label>Name of the pokemon</label>
    <input type="text" name="namePokemon">
    <button type="submit">Search</button>

</form>

