<br/>
<br/>
<br/>
<br/>
<br/>
<h1>test3</h1>

<form action="/search-types" method="GET">

    <label>Name of the Type</label>
    <input type="text" name="typeName">
    <button type="submit">Search</button>

</form>
