<div class="index-container">
            <div class="search-container">

<h2>Search pokemon by name</h2> 

<br/>

<form action="/search-pokemon" method="GET">

    <input type="text" name="namePokemon">
    <button class="mainBtn" type="submit">Search</button>

</form>
    </div>
        </div>