<br/>
<br/>
<br/>
<br/>
<br/>
<h1>test2</h1>

<form action="/search-region" method="GET">

    <label>Name of the Region</label>
    <input type="text" name="regionName">
    <button type="submit">Search</button>

</form>

