<div class="index-container">
            <div class="search-container">

<h2>Search by type</h2>

<br>

<form action="/search-types" method="GET">


    <input type="text" name="typeName">
    <button class="mainBtn" type="submit">Search</button>

</form>
    </div>
        </div>