
<div class="bg-pokemon">

    <h1><span class="capitalize">{{name}}</span> type pokemons</h1>
<ul>
    {{#each pokemon}}

    <li>
    
        <a href="/search-pokemon?namePokemon={{pokemon.name}}">{{pokemon.name}}</a>
        
        </li>
        
    {{/each}}
</ul>
</div>